@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    main,
    h1 {
        font-size: 1rem;
    }

    .logo,
    h1 {
        font-size: 1rem;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        display: none;
    }

    nav ul li {
        text-align: left;
    }

    #menuList.active {
        display: block;
        background: #015291;
        flex-direction: column;
        justify-items: center;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon img {
        width: 30px;
        height: auto;
    }
}